<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net48" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net48" />
  <package id="OxyPlot.Wpf" version="2.0.0" targetFramework="net48" />
  <package id="Tinkoff.Trading.OpenApi" version="1.6.0" targetFramework="net48" />
</packages>